<td>
	<span class="text-muted">Latest status on</span>
	<% if activity.recipient %>
	  <%= link_to activity.recipient.title, activity.recipient %>
	  
	  <blockquote>

	  </blockquote>

	  
	<% else %>
	  <span class="text-danger">a status which has been removed</span>
	<% end %>
</td>
<td><span class="glyphicon glyphicon-comment" style="color: #ccc;"></span></td>