<div class="project-card">
	<div class="project-info">
		<div class="project-title">
			<%= link_to(discussion) do %><h4><strong><%= discussion.title %></strong></h4></a><% end %>
		</div>
	</div>
</div>