<div class="discussion-cover" style="background-image: url('<%= @discussion.cover.url(:medium) %>');">
</div>

<div class="discussion-page">
  <div class="container">

    <div class="panel-group" id="accordion">
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body" style="height: 450px;">
        </div>
      </div>
    </div>

    <div class="col-sm-12 discussion-box" style="margin-top: 50px; min-height: 800px;">
      <h5 class="text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
      </h5>
      <div class="discussion-box-content">
        <h1><%= @discussion.title %></h1>
        <p><%= @discussion.description %></p>

        <ul class="nav nav-tabs discussion-tabs">
          <li class="active"><a href="#inspiration" data-toggle="tab"><span class="glyphicon glyphicon-pushpin"></span> Inspiration</a></li>
          <li><a href="#ideas" data-toggle="tab"><span class="glyphicon glyphicon-star"></span> Ideas</a></li>
          <li><a href="#discuss" data-toggle="tab"><span class="glyphicon glyphicon-comment"></span> Discuss</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="inspiration">Inspiration</div>
          <div class="tab-pane fade" id="ideas">Ideas</div>
          <div class="tab-pane fade" id="discuss">Discussion</div>
        </div>

        <% if current_user == @discussion.user || current_user.superadmin? %>
         <%= link_to edit_discussion_path(@discussion), class: "btn btn-default" do %>
          Edit discussion
         <% end %>
        <% end %>

      </div>
    </div>

  </div>
</div>