<td>
	<span class="text-muted">What we need for </span>
	<% if activity.recipient %>
	  <%= link_to activity.recipient.title, activity.recipient %>
	  
	  <blockquote>
		<p><%= activity.trackable.title %></p>
		<small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
	  </blockquote>

	  
	<% else %>
	  <span class="text-danger">a need which has been removed</span>
	<% end %>
</td>
<td><span class="glyphicon glyphicon-comment" style="color: #ccc;"></span></td>