<% title @user.first_name + " " + @user.last_name %>

<div class="container" id="pages">
	<div class="col-xs-5 col-xs-offset-3">
		<div class="panel panel-default">
		  <div class="panel-body text-center">
		  	<%= image_tag @user.avatar.url(:thumb), width: "150", class: "img-rounded" %>
		    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
		    <% if @user.fb_verified %>FB Verified<% end %>
		  </div>
		</div>
	</div>	
</div>