<div class="container">
	<!--<h1>Users#show</h1>
	<p>Find me in app/views/users/show.html.erb</p>
	<h1>Profile</h1>
	<%= @user.name %><%= @user.first_name %> <%= @user.last_name %>

	<h1>Projects</h1>
	<%= render @projects %>-->
</div>