<div class="row" style="height: 100px; background: grey;">
	<div class="container">
		<span class="glyphicon glyphicon-map-marker"></span> <%= current_user.location %><a href="">Change City</a>
	</div>
</div>

<div class="container">
	
	<div class="row">
		<h2>Discussions</h2>
		<%= render @discussions.tagged_with(["Kuala Lumpur"], :any => true) %>
	</div>
	<div class="row">
		<h2>Projects</h2>
		<%= render @projects.tagged_with(["Kuala Lumpur"], :any => true) %>
	</div>
</div>
