<div class="container" id="pages">
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to projects_path, class: "btn btn-lg btn-success" do %>
					Projects
				<% end %>
			</div>
		</div>
	</div>
	
	<div class="col-xs-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= link_to discussions_path, class: "btn btn-lg btn-success" do %>
					Discussions
				<% end %>
			</div>
		</div>
	</div>
</div>
