<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">ACTION</div>

    <!--<div class="panel-body">

      <h3 class="stat" id="followers"><%= @project.followers.count %> / 10  </h3>
      <p><strong>Followers</strong></p>

      <div class="progress">
        <div id="followersprogress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= number_with_precision(((@project.followers.count.to_f / 10) * 100), :precision => 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage((@project.followers.count.to_f / 10 * 100), :precision => 2) %>;">
        </div>
      </div>

    </div>-->
    <ul class="list-group">
      <li class="list-group-item"><%= render 'follow_form' if signed_in? %></li>
    </ul>
  </div>
</div>