<div class="panel panel-default">
  <div class="panel-heading" id="project">
    ACTION
    <span class="pull-right">
      <%= link_to "#", :rel => "tooltip", :data => { :delay => 20, :title => "Action Card: Here is a list of action steps you could take to help make the project happen.", :placement => "top" } do %>?<% end %>
    </span>
  </div>

  <table class="table">
    <tbody>

      <%= render 'projects/follow_form' %>

      <tr>
        <td>2</td>
        <td>
          <div class="fb-share-button" data-href='http://www.facebook.com/sharer.php?u=<%= request.original_url %>' data-type="button"></div>

          <%= link_to "Twitter", "https://twitter.com/share", class: "twitter-share-button", :data => { :url => "http://crowdciti.es"+request.fullpath, :via => "crowdcities", :count => "none"} %>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </td>
        <td></td>
      </tr>

    </tbody>
  </table>

</div>