<div class="panel panel-default" style="margin-bottom: 0px;">
  <div class="panel-body">
    <p><%= @project.description.html_safe %></p>
  </div>
  <div class="panel-footer">
  	<span class="text-muted"><small>Last updated <%= time_tag @project.updated_at %></small></span>
  </div>
</div>