<div style="min-height: 200px; margin-top: 20px;">
  <div class="project-icon-left">
    <span class="glyphicon glyphicon-edit glyphicon-project"></span>
  </div>
  <div style="margin-left: 10px; padding: 0px 40px;">
    <p><%= @project.description.html_safe %></p>
  </div>
</div>