<div class="panel panel-default">
	<div class="panel-heading">WHAT WE NEED</div>
	<ul class="list-group">

    <li class="list-group-item">
	    <p><strong>Followers</strong> (<%= @project.likes.size %>/10)</p>
	    <div class="progress">
	      <div id="followersprogress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= number_with_precision(((@project.likes.size.to_f / 10) * 100), :precision => 0) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage((@project.likes.size.to_f / 10 * 100), :precision => 2) %>;">
	      </div>
	    </div>
		</li>
  
  </ul>
</div>