<div class="col-sm-3 project-box" style="margin-left: 5%; width: 30%; margin-top: 20px;">
	<div class="project-icon-right">
	  <span class="glyphicon glyphicon-user glyphicon-project" style="font-size: 18px; top: 6px; left: 9px; color: grey;"></span>
	</div>
	<div class="project-box-content" id="followers">
	  <p><strong>Followers</strong> (<%= @project.followers.count %>)</p>
		<% for follower in @project.followers %>
			<%= link_to image_tag(follower.avatar.url(:thumb)), follower, :rel => "tooltip", :data => { :delay => 20, :title => follower.first_name } %>
		<% end %>
	</div>

</div>