<div class="col-sm-4">
	<div class="panel panel-default">
		<div class="panel-heading">STAKEHOLDERS</div>
		<div class="project-box-content" id="followers">
		  <p><strong>Followers</strong> (<%= @project.followers.count %>)</p>
			<% for follower in @project.followers %>
				<%= link_to image_tag(follower.avatar.url(:thumb)), follower, :rel => "tooltip", :data => { :delay => 20, :title => follower.first_name } %>
			<% end %>
		</div>
	</div>
</div>