<td>
	<span class="text-muted">created a discussion</span></br>

	<% if activity.trackable %>
	  <h3><%= link_to activity.trackable.discussion.title, activity.trackable.discussion %></h3>
	<% else %>
	  <span class="text-danger">which has been removed</span>
	<% end %>
</td>
<td><span class="glyphicon glyphicon-book" style="color: #ccc;"></span></td>